.vs/
Binaries/
Builds/
Config/
Content/__ExternalActors__
Content/__ExternalObjects__
GameAssets/
Content/LevelPrototyping/
Content/ThirdPerson/
Content/StarterContent/
Content/Characters/
DerivedDataCache/
Intermediate/
Saved/
*.opensdf
*.sdf
*.user
*.userprefs
